*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.page__header{
    padding-top: 50px;
    padding-left: 160px;
    padding-right: 160px;
    display: grid;
    grid-auto-flow: column;
    align-items: end;
}

.header__logo{
    width: 36px;
    object-fit: contain;
}

.navigation__container{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

.navigation__item{
    list-style: none;
}

.navigation__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #aaa;
    font-size: 13px;
    transition-duration: 0.5s;
}

.navigation__item+.navigation__item{
    margin-left: 60px;
}

.navigation__link:hover{
    color: #111;
}

.main__home{
    padding-top: 195px;
}

.home__title{
    font-size: 62px;
    text-align: center;
    margin-bottom: 28px;
}

.home__text{
    width: 475px;
    line-height: 24px;
    font-size: 13px;
    color: #aaaaaa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main__about{
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-column-gap: 115px;
    margin-top: 186px;
    justify-content: center;
}

.about__video{
    width: 550px;
    height: 388px;
    background-size: cover;
    position: relative;
}

.about__col .about__video{
    width: 249px;
    height: 138px;
    background-size: cover;
    margin-top: 20px;
}

.about__col .about__video .video__player{
    bottom: -10px;
    left: -10px;
}

.about__text{
    width: 210px;
    line-height: 24px;
    font-size: 13px;
    color: #aaaaaa;
    z-index: 1;
    position: relative;
}

.about__content:before{
    content: '';
    display: block;
    position: absolute;
    background-image: url("../images/obj.png");
    background-size: cover;
    height: 26px;
    width: 32px;
    left: -10px;
}

.about__caption{
    font-size: 13px;
    color: #000;
    margin-top: 18px;
    font-weight: bold;
    margin-bottom: 18px;
}

.about__col:nth-child(1) .about__title{
    margin-bottom: 10px;
}

.about__title{
    font-size: 30px;
}

.about__content{
    margin-top: 30px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

.video__player{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main__instructors{
    margin-top: 210px;
}

.instructors__title{
    font-size: 44px;
    text-align: center;
}

.instructors__cards{
    display: grid;
    grid-auto-flow: column;
    margin-top: 60px;
    justify-content: center;
    grid-column-gap: 80px;
}

.instructors__cards .instructors__title{
    font-size: 26px;
    margin-top: 34px;
}

.instructors__cards{
    text-align: center;
}

.instructors__caption{
    color: #2ab738;
}

.main__blog{
    margin-top: 210px;
}

.blog__title{
    font-size: 44px;
    text-align: center;
    margin-bottom: 80px;
}

.blog__container{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 150px;
}

.blog__item{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-column-gap: 70px;
    align-items: center;
}

.blog__item .blog__content{
    width: 378px;
}

.blog__item .blog__title{
    font-style: italic;
    font-size: 32px;
    margin-bottom: 28px;
}

.blog__item .blog__text{
    font-size: 13px;
    color: #5d5d5d;
    width: 350px;
    line-height: 30px;
}

.blog__item .blog__button{
    border: 1px solid #e5e5e5;
    background-color: white;
    margin-top: 45px;
    width: 125px;
    height: 45px;
    font-size: 12px;
    font-family: "Avenir", sans-serif;
    font-weight: bolder;
}

.main__contact{
    margin-top: 210px;
    margin-bottom: 130px;
}

.contact__title{
    font-size: 44px;
    text-align: center;
}

.contact__button{
    border: 1px solid #41475b;
    background-color: white;
    margin-top: 45px;
    width: 125px;
    height: 45px;
    font-size: 13px;
    font-family: "Avenir", sans-serif;
    font-weight: 500;
    line-height: 47px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page__footer{
    border-top: 1px solid #f2ede7;
    padding: 25px 160px;
}

.footer__title{
    font-size: 21px;
    margin-bottom: 10px;
}

.footer__copy{
    color: #9f9f9f;
    font-size: 13px;
}